@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #FFFFFF;
  --secondary-primary-color: #343045;
  --accent-color: #C0B7E8;
  --background-color: linear-gradient(to right, #302C42, #433D60, #433D60, #302C42);
  --gradient-text: linear-gradient(45deg, #C0B7E8, #8176AF);
  --gradient-navbar: linear-gradient(to right, #3A3456, #211E2E, #3A3456);
  --gradient-button: linear-gradient(to right, #8176AF, #C0B7E8);
  --gradient-box: radial-gradient(circle, #433D60, #211E2E);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  font-family: "Montserrat", serif;
  font-style: normal;
  color: var(--primary-color);
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  background-image: var(--background-color);
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
  fill: var(--accent-color);
  color: var(--accent-color);
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: var(--gradient-button);
  transition: all .9s;
}

.btn a {
  color: var(--secondary-primary-color);
}

.btn:hover {
  background-image: var(--gradient-text);
}

.btn:active {
  transform: scale(0.9);
}

.title {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 3rem;
}

.subtitle {
  font-weight: 300;
  font-size: 2.7rem;
}

.subtitle-info {
  font-size: 1.5rem;
  font-weight: bold;
}

.text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.titleDiv {
  display: flex;
  align-items: start;
  flex-direction: column;
}

@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1050px) {
  .titleDiv {
    align-items: center;
    margin: 0 auto;
  }

  .title {
    font-size: 2.7rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .hide-on-small {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }

  section {
    padding: 3rem 0;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .subtitle-info {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }

  section {
    padding: 2rem 0;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  .subtitle-info {
    font-size: 1.5rem;
  }
}